html
    head
        link(rel='stylesheet', href='/styles.css')
        title= page
    body
    div.nav
        nav
            a(href='/') Home
            a(href='/services') Services
            a(href='/contact') Contact
    div.head
        h1 Welcome to my contact  page!
        h1 I'm here to help!
    div.content
        p Send me Email at: <a href="nwophokeisrael91@gmail.com"> nwophokeisrael91@gmail.com
        p Call us at: +234 8080053950.</a>
        p Feel free Contact me today to learn more about my services.