html
    head
        link(rel='stylesheet', href='/styles.css')
        title= page
    body
    div.nav
        nav
            a(href='/') Home
            a(href='/services') Services
            a(href='/contact') Contact
    div.head
        h1 Welcome to my #{page}page!
    div.content
        p I provide high-quality products and services to my customers.
        p My mission is to make sure that my customers receive the best treatment possible in the mobile phone industry.
        p Contact me today to learn more about what I have to offer.